<% provide(:title, @exchange.title) %>
<div class="panel-group ">
  <div class="panel panel-primary">
    <div class="panel-heading"><h1><%= @exchange.title %></h1></div>
    <div class="panel-body">
      <div align="center">
        <p><%= simple_format(@exchange.description).html_safe %></p>
      </div>
      <div class="row" align="center">
        <div class="col-sm-3">
          <% @title = 'Administradores'; @table = @exchange.admins %>
          <%= render 'user_list' %>
        </div>
        <div class="col-sm-3">
          <% @title = 'Participantes'; @table = @exchange.participants %>
          <%= render 'user_list' %>
        </div>
        <div class="col-sm-3">
          <% @title = 'Convidados'; @table = @exchange.invites %>
          <%= render 'user_list' %>
        </div>
        <div class="col-sm-3">
          <% @title = 'Pedidos de Participação'; @table = @exchange.requests %>
          <%= render 'user_list' %>
        </div>
      </div>
    </div>
    <%= render 'administrative' %>
    <%= render 'raffle_user' %>
    <%= render 'raffle_all' %>
  </div>

</div>