<% provide(:title, @exchange.title) %>
<div class="panel-group ">
  <div class="panel panel-primary">
    <div class="panel-heading"><h1><%= @exchange.title %></h1></div>
    <div class="panel-body">
      <div align="center">
        <p><%= simple_format(@exchange.description).html_safe %></p>
      </div>
      <%= render 'exchanges/panels/users' %>
      <%= render 'exchanges/panels/administrative' %>
      <%= render 'exchanges/panels/raffle_user' %>
      <%= render 'exchanges/panels/raffle_all' %>
    </div>
  </div>
</div>