<% if @group.have_user_as?(current_user, 'participants') %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseNewExchange">Novo Amigo Secreto para o Grupo</a>
        </h4>
      </div>
      <div id="collapseNewExchange" class="panel-collapse collapse">
        <div class="panel-body">
          <% @exchange = Exchange.new() %>
          <%= form_for(@exchange) do |f| %>

              <% @group.participants.each do |participant| %>
                  <%= f.hidden_field :invites, :multiple => true, :value => participant %>
              <% end %>

              <div class="row" align="left">
                <div class="col-sm-5">
                  <%= f.label 'Título:' %>
                  <%= f.text_field :title, class: 'form-control' %>
                </div>
              </div>

              <div class="row" align="left">
                <div class="col-sm-12">
                  <%= f.label 'Descrição:' %>
                  <%= f.text_area(:description, class: 'form-control', rows: 10) %>
                </div>
              </div>

              <%= f.submit 'Criar Amigo Secreto', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>