<% provide(:title, @group.title) %>
<div class="panel-group ">
  <div class="panel panel-primary">
    <div class="panel-heading" align="center">
        <h1><%= @group.title %></h1>
    </div>
    <div class="panel-body">
      <div align="center">
        <p><%= simple_format(@group.description).html_safe %></p>
      </div>
      <%= render 'groups/panels/users' %>
      <%= render 'groups/panels/new_exchange' %>
      <%= render 'groups/panels/invite_all' %>
      <%= render 'groups/panels/accept_invite' %>
    </div>
  </div>
</div>
