<div class="well" align="center">
  <div class="user_info">
    <h2>
      <%= gravatar_for @user %> <br>
      <%= @user.name %>
    </h2>
    <%= @user.address_street %><%= !@user.address_number.blank? ? ", #{@user.address_number}" : "" %><%= !@user.address_aditional.blank? ? ", #{@user.address_aditional}" : "" %>
    <br>
    <%= @user.address_city %><%= !@user.address_state.blank? ? ", #{@user.address_state}" : "" %><%= !@user.address_country.blank? ? raw("<br>") : "" %><%= !@user.address_country.blank? ? "#{@user.address_country}" : "" %>
  </div>
</div>