<% provide(:title, 'Nossa Comunidade') %>
<div class="row">
  <div class="col-sm-8">
    <h1>Nossa comunidade:</h1>
  </div>
  <%= form_tag(users_path, method: "get") do %>
      <div class="col-sm-3">
        <%= text_field_tag :search, "", class: 'form-control' %>
      </div>
      <div class="col-sm-1">
        <%= submit_tag "Buscar", class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>
<ul class="indexlist">
  <% n = 0 %>
  <% @users.each do |user_index| %>
      <% i = n%3 %>
      <% @usercard = user_index; @avatar_size = 50 %>
      <% if i==0 %>
          <li>
      <% end %>

      <%= render 'usercard' %>

      <% if i==2 %>
          </li>
      <% end %>
      <% n+=1 %>
  <% end %>
</ul>
<div align="right"><%= will_paginate %></div>