<% provide(:title, @user.name) %>
<div class="panel-group ">
  <div class="panel panel-primary">
    <div class="panel-heading" align="center">
        <h1><%= @user.name %></h1>
    </div>
    <div class="panel-body">
      <div align="center">
        <%= gravatar_for @user %>
        <p><%= simple_format(@user.about).html_safe %></p>
      </div>
      <%= render 'users/panels/address' %>
      <%= render 'users/panels/send_message' %>
      <%= render 'users/panels/invite_sends' %>
      <%= render 'users/panels/invite_received' %>
      <%= render 'users/panels/group_invite_sends' %>


    </div>
  </div>
</div>
