<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <%= @user.address_street %><%= !@user.address_number.blank? ? ", #{@user.address_number}" :""  %><%= !@user.address_aditional.blank? ? ", #{@user.address_aditional}" : "" %>
      <br>
      <%= @user.address_city %><%= !@user.address_state.blank? ? ", #{@user.address_state}" : "" %><%= !@user.address_country.blank? ? raw("<br>") : ""%><%= !@user.address_country.blank? ? "#{@user.address_country}" : "" %>

    </section>
  </aside>
</div>
