<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapseSendMessage">Enviar Mensagem</a>
    </h4>
  </div>
  <div id="collapseSendMessage" class="panel-collapse collapse">
    <div class="panel-body" align="center">
      <% @message = Message.new() %>
      <%= form_for(@message) do |f| %>

          <%= f.label 'Conteúdo:' %>
          <%= f.text_area :content, class: 'form-control' %>
          <%= f.hidden_field :to, value: params[:id] %>

          <%= f.submit 'Enviar Mensagem', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>